<section class="container-card">

  @for(new of data.articles; track new.id) {
    <section class="news" >
      <div class="img-news">
        <img src="{{ new.urlToImage }}" alt="imagem da noticía">
      </div>
      <div class="info-news">
        <h2 class="titulo" >
          {{ new.title }}
        </h2>
        <h3 class="autor" >Autor: {{ new.author }}</h3>
        <p class="descricao" >
         {{ new.description }}
        </p>
      </div>
    </section>

  } @empty {
    <p>Vazio</p>
  }
</section>

